*{
  margin: 0;
  padding: 0; 
  max-width: 1200px;
  margin: auto;

}
 .texttlef a{
    height: auto;
    color: aliceblue;
 text-decoration: none;

 }
.shamim{
    background-color: #01EEBB;
}
.shamim ul li {
    display: inline-block;
    
}
.shamim ul{
    text-align: right;
}  
.shamim ul li a{
    color: azure;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
    
}
.ss{
    text-align: center;
}
img{
    width: 2000px;
}
.shamim1{
    color: white;
    text-align: center;
   
    line-height: 50px;
    background-image: url(https://ibb.co/YDVF3Jz);
    background-image: url(https://numero.twic.pics/images/article/homepage/full/push-cover-wiz-khalifa-tyga-single-contact-numero-magazine.jpg?twic=v1/quality=83/truecolor=true/output=jpeg/focus=800x395/cover=16:9/resize=900);
   
    height: 500px;
    background-size: cover;
    
}
.app{
    margin-top: 200px;
    display: inline-block
    
}
.ass{
    font-size: 40px;
}
span{
    
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 30px;
    height: 40px;
    width: 160px;
}
.as{
    color: #01EEBB;
    font-size: 35px;
}
.service{
    margin-top: 70px;
}
.ser{
    margin-top: 40px;
    margin-left: 100px;
    width: 200px;
    text-align: center;
    float: left;
}

.lin{
    background-color: #01EEBB;
    height: 3px;
    width: 1200px;
}
 /* about part */

 .kali{
    height: 2px;
    width: 1200px;
    background-color: #01EEBB;
   margin-top: 40px;
 
 }

 .als{
    color: #01EEBB;
    background-color: #34495e;
    border-radius: 8px 0px 8px 0px;
    
 }
 .about .fast {
    margin-top: 100px;
 }
 .img img{
    height: 220px;
    width: 380px;
    margin-left: 30px;
   
 }
 .mr{
    margin-bottom: 20px ;
 }
 .me2{
    margin-left: 20px;
 }
 .tree{
    width: 600px;
    margin-left: 32px;
    
 }
 .cox{
    display: flex;
    margin-top: 50px; 
 }

 /* contact us */
 .contack{
    background-color: #ecf0f1;
    padding:  1px;
    padding-bottom: 40px;
 }
 .helf{
    text-align: center;
    display: flex;
    margin-left: 330px;
    margin-top: 40px;
 }

 /* .me2{
    margin-left: 80px;
 } */
 .loc{
    line-height: 25px;
 }

 /* font awesom */
 .logo6{
   
 }
 .logo6 ul{
    /* text-align: center; */
    padding: 0px 40px;
     
 }
 
 .container{
    background-color: #01EEBB;
    display: flex;
    padding: 15px;
     
 }

 .logo6{
    margin-left: 40px;
    color: aliceblue;
    margin:  auto;
    font-size: 15px;
 } 
 .rere{
    margin-left: 13px;
 }

 
 .lastconta{
    background-color: #34495e;
    padding: 8px;
 }

 .lastconta h4{
color: aliceblue;
text-align: center;
font-size: 10px;
 }